appdirs==1.4.4
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
exceptiongroup==1.2.2
exchange_calendars==4.5.5
fonttools==4.53.1
frozendict==2.4.4
greenlet==3.0.3
html5lib==1.1
idna==3.7
importlib_resources==6.4.0
kiwisolver==1.4.5
korean-lunar-calendar==0.3.1
lxml==5.2.2
matplotlib==3.9.1
multitasking==0.0.11
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pandas_market_calendars==4.4.1
peewee==3.17.6
pillow==10.4.0
platformdirs==4.2.2
playwright==1.45.1
pyarrow==17.0.0
pyee==11.1.0
pyluach==2.2.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.2
requests==2.32.3
scipy==1.14.0
six==1.16.0
soupsieve==2.5
ta==0.11.0
tabulate==0.9.0
tomli==2.0.1
toolz==0.12.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
yfinance==0.2.41
zipp==3.20.0
