appdirs==1.4.4
attrs==23.2.0
beautifulsoup4==4.12.3
cattrs==23.2.3
certifi==2024.2.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
exceptiongroup==1.2.1
fonttools==4.52.1
frozendict==2.4.4
greenlet==3.0.3
html5lib==1.1
idna==3.7
importlib_resources==6.4.0
iniconfig==2.0.0
kiwisolver==1.4.5
lxml==5.2.2
matplotlib==3.9.0
multitasking==0.0.11
numpy==1.26.4
packaging==24.0
pandas==2.2.2
peewee==3.17.5
pillow==10.3.0
platformdirs==4.2.2
playwright==1.44.0
pluggy==1.5.0
pyarrow==16.1.0
pyee==11.1.0
pyparsing==3.1.2
pytest==8.2.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.2
requests-cache==1.2.0
six==1.16.0
soupsieve==2.5
tabulate==0.9.0
tomli==2.0.1
typing_extensions==4.12.0
tzdata==2024.1
url-normalize==1.4.3
urllib3==1.26.18
webencodings==0.5.1
yfinance==0.2.40
zipp==3.19.0
