name: top-1

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "top-1-5/*-loosers.csv"

permissions:
  contents: write

jobs:
  top-1:
    runs-on: ubuntu-latest
    steps:
      - run: sleep 30
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: ./run top-1
      - uses: ./.github/actions/push
        with:
          message: "chore(top-1): aggregate"
